/* ESTILOS CON SASS */

/*** ESTILOS FUENTES ***/
@import "fuentes";
/*** ESTILOS ALINEACION ***/
@import "texto";

/*** ESTILOS COLORES ***/
@import "colores";

/*****************
-------BODY-------
*****************/

body{
    background-image: url(../img/fondo3b.png);
    margin: 0px;
    padding: 0px;
    a{
        text-decoration: $nodec;
        color: $cnegro;
        
    }
    a:hover{
        text-shadow: 3px 3px 3px $caqua;
    }    
}

/*****************
------HEADER------
*****************/

.h-logo{
    width: 20vh;
}
.h-logo1{
    padding: 15px 0px 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo1{
    font-family: $fjulius;
    text-align: $atac;
    color: $cnegro;
    font-size: 5vw;
    padding-top: 20px;
}
.titulo2{
    font-family: $fjulius;
    text-align: $atac;
    color: $cnegro;
    margin-bottom: 5%;
    font-size: 3vw;
    margin-left: 15%;
}
.sesion{
    font-family: $fjulius;
    font-size: 1rem;
}

/*****************
------NAV--------
*****************/

.h-nav{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
}

.titulo3{
    font-family: $fraleway;
    font-size: 1.3rem;
}
.desp{
    background-color: $caquadeg;
}

/*****************
------CUERPO------
*****************/

.car{
    width: 20vw;
    margin: 30px 30px 15px 10vw;
}
.decoracion-texto1{
    width: 100%;
    margin: 30px 5px 30px 5px;
    color: $cblanco;
    text-shadow: 3px 3px 5px $caqua;
    background-color: $cnegrodeg;
    border-radius: 100px;
    box-shadow: 3px 3px 5px $caqua;
}
.texto1{
    text-align: $atac;
    font-family: $fraleway;
    font-size: 2rem;
}
.img1{
    width: 30vw;
    margin: 30px 30px 30px 10vw;
}
.decoracion-texto2{
    width: 100%;
    color: $cnegro;
    text-shadow: 3px 3px 5px $caqua;
    background-color: $cblancodeg;
    border-radius: 100px;
    box-shadow: 3px 3px 5px $caqua;
}
.texto2-secundario{
    padding: 10px;
    text-align: $atac;
    font-family: $fraleway;
    font-size: 1rem;
}
 .img-dec{
      border-radius: 100px;
      box-shadow: 3px 3px 5px $caqua;
}

/*****************
------FOOTER------
*****************/

.foot1{
    padding-top: 10px;
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.486), white)
}
.logo-ig{
    margin: 5px;
    width: 50px;
}

/****NOSOTROS****/

.subtitulo1{
    text-align: $atac;
    font-family: $fraleway;
    color: $cnegro;
    font-size: 4vw;
    text-shadow: 3px 3px 5px $caqua;
}
.foto1{
    margin-top: 20px;
    width: 30vw;
    border-radius: 100px;
    box-shadow: 5px 5px 5px $caqua;
    background-color: $cblancodeg;
}
 .f-parrafo1{
     border-radius: 100px;
     box-shadow: 5px 5px 5px $caqua;
     background-color: $cblancodeg;
 }
.parrafo1{
    margin-top: 20px;
    font-family: $fraleway;
    text-align: center;
    color: $cnegro;
    font-size: 1rem;
    padding: 20px;
}
/****UN BUEN MATE****/

.estilo-tabla{
    font-size: 20px;
    text-shadow: 3px 3px 5px $cblanco;
    background-color: $caquadeg;
}
th{
    font-family: $fraleway;
    text-align: center;
    color: $cnegro;
    font-size: 1rem;
}
td{
    font-family: $fraleway;
    text-align: center;
    color: $cnegro;
    font-size: 1rem;
    padding: 3px;
}
/****Productos****/
.img-prod{
    width: 15vw;
    margin: 15px;
    border-radius: 100px;
    box-shadow: 5px 5px 5px $caqua;

}
.img-prod1{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.titulo4{
    padding: 10px;
    font-family: $fjulius;
    font-size: 2vw;
    border-radius: 100px;
    box-shadow: 5px 5px 5px $caqua;
}

/****INGRESO****/

.sub2{
    text-decoration: underline;
    font-family: $fraleway;
    font-size: 25px;
}
.formulario__contenido{
    background-color: $caquadeg;
    padding: 15px; 
    margin: 50px;
    line-height: 25px;  
}
.interlineado{
    padding: 10px 5px;  
}

/****CONTACTO****/

.img2{
    width: 10vw;
}

/*****************
--MEDIA QUERIES---
*****************/

//desktops
@media (max-width: 1199.98px) {
    body{
        margin: 0px;
        padding: 0px;
    }
    .sesion{
        font-size: 0.8rem;
    } 
}
//tablets
@media (max-width: 991.98px) {
    .titulo1{
        font-size: 7vw;
    }
    .titulo2{
        font-size: 4vw;
    }
    .sesion{
        display: flex;
        align-items: center;
        justify-content: center;
    }
.car{
    width: 25vw;
    margin-left: 35%;
    }
    .img1{
        width: 35vw;
        margin-left: 28%;
    }
}
//landscape phones
@media(max-width: 768px) { 
    .h-logo{
        width: 15vh;
    }
    .texto1{
        font-size: 1.5rem;
    }
    .parrafo1{
        font-size: 0.9rem;
    }
    .subtitulo1{
        font-size: 5.5vw;
    }
}
//portrait phones
@media (max-width: 575.98px) { 
    .h-logo{
        width: 12vh;
    }
    .titulo1{
        font-size: 9vw;
    }
    .titulo2{
        font-size: 5vw;
    }
    .titulo4{
        font-size: 3vw;
    }
    .car{
        width: 30vw;
    }
    .img1{
        width: 40vw;
    }
    .texto2-secundario{
        font-size: 0.8rem;
    }   
    .img-prod{
        width: 35vw;
    }
    .foto1{
        width: 40vw;
    }
    .sub2{
        font-size: 20px;
    }
    th{
        font-size: 0.8rem;
    }
    td{
        font-size: 0.8rem;
    }
}