/* ESTILOS CON SASS */

/*** ESTILOS FUENTES ***/
@import "fuentes";
/*** ESTILOS ALINEACION ***/
@import "texto";

/*** ESTILOS COLORES ***/
@import "colores";

/*****************
-------BODY-------
*****************/

body{
    background-image: url(../img/fondo3b.png);
    margin: 0px;
    padding: 0px;
}

/*****************
------HEADER------
*****************/

.hlogo{
    width: 20vh;
}
.hlogo1{
    padding: 15px 0px 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo1{
    font-family: $fjulius;
    text-align: $atac;
    color: $cnegro;
    font-size: 5vw;
    padding-top: 20px;
}
.titulo2{
    font-family: $fjulius;
    text-align: $atac;
    color: $cnegro;
    margin-bottom: 5%;
    font-size: 3vw;
    margin-left: 15%;
}
.sesion{
    text-decoration: $nodec;
    color: $cnegro;
    font-family: $fjulius;
    font-size: 16px;
}
.sesion:hover{
    text-shadow: 3px 3px 3px $caqua;
}
/*****************
------NAV--------
*****************/

.hnav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
}

.titulo3{
    text-decoration: $nodec;
    font-family: $fraleway;
    color: $cnegro;
    font-size: 20px;
}
.titulo3:hover{
    text-shadow: 3px 3px 3px $caqua;
}
.desp{
    background-color: $caquadeg;
}
/*****************
------CUERPO------
*****************/

.car{
    width: 20vw;
    margin: 30px 30px 15px 10vw;
}
.texto1{
    width: 100%;
    margin: 30px 5px 30px 5px;
    text-align: $atac;
    font-family: $fraleway;
    color: $cblanco;
    font-size: 20px;
    text-shadow: 3px 3px 5px $caqua;
    background-color: $cnegrodeg;
}
.img1{
    width: 30vw;
    margin: 30px 30px 30px 10vw;
}
.texto2{
    width: 100%;
    margin: 20px 5px 30px 5px;
    text-align: $atac;
    font-family: $fraleway;
    color: $cnegro;
    font-size: 20px;
    text-shadow: 3px 3px 5px $caqua;
    background-color: $cblancodeg;
}
 .imgdec{
      border-radius: 100px;
      box-shadow: 3px 3px 5px $caqua;
  }

/*****************
------FOOTER------
*****************/

.foot1{
    padding-top: 10px;
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.486), white)
}
.logoig{
    margin: 10px;
    width: 50px;
}
.texto3{
    margin-left: 10vw;
    padding-top: 17px;
    text-align: $atac;
    font-family: $fraleway;
    color: $cnegro;
    font-size: 16px;
    text-shadow: 3px 3px 5px $caqua;
    background-color: $cblancodeg;
}

/*****************
--MEDIA QUERIES---
*****************/

//desktops
@media (max-width: 1199.98px) {
    body{
        margin: 0px;
        padding: 0px;
    }
    .sesion{
        font-size: 12px;
    } 
}
//tablets
@media (max-width: 991.98px) {
    .titulo1{
        font-size: 7vw;
    }
    .titulo2{
        font-size: 4vw;
    }
    .sesion{
        display: flex;
        align-items: center;
        justify-content: center;
    }
.car{
    width: 25vw;
    margin-left: 35%;
    }
    .img1{
        width: 35vw;
        margin-left: 28%;
    }
}
//landscape phones
@media(max-width: 768px) { 
    .hlogo{
        width: 15vh;
    }
    .texto3{        
        font-size: 14px;
    }
}
//portrait phones
@media (max-width: 575.98px) { 
    .hlogo{
        width: 12vh;
    }
    .titulo1{
        font-size: 9vw;
    }
    .titulo2{
        font-size: 5vw;
    }
    .car{
        width: 30vw;
    }
    .img1{
        width: 40vw;
    }
    .texto3{        
        font-size: 12px;
    }
}